# Continuous Treatments and Repeated Actions
Julian Hsu
17-Dec-2023

The purpose of this script is to understand the biases of understanding repeated actions, where the repeated actions have selection bias.

In [1]:
import numpy as np
import os as os
import pandas as pd

## Generate serially correlated action data

In [30]:
def repeated_action_data(N=200, timehorizon=3):
    ## Setup covariates
    X = np.random.normal(0,0.5, N)
    df = pd.DataFrame(data=X,columns=['x'])
    
    ## First action
    action = np.random.choice(2,N)        
    df['w0']=action
    ## Now allow for multiple downstream actions for a set number of times
    for t in range(timehorizon):
        
    return df

In [31]:
repeated_action_data()

            x  w0
0    0.318447   1
1    0.077635   0
2   -0.839301   0
3    0.534892   0
4    0.906780   1
..        ...  ..
195 -0.352377   0
196 -0.268238   1
197  0.127912   0
198 -0.145181   0
199  0.761848   0

[200 rows x 2 columns]